:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    --clr-primary-5: hsl(205, 78%, 60%);
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(206, 33%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f1f5f8;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


header nav {
    display: flex;
    padding: 12px;
    gap: 300px;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav a {
    display: flex;
    gap: 20px;
    font-weight: 600;
    color: #595959;
    transition: all 0.3s linear;
}

a {
    text-decoration: none;
}

header nav a:hover {
    color: #3b9cc9;
    cursor: pointer;
}

#titre {
    color: #3b9cc9;
}

main {
    min-height: calc(100vh - 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
} 

.container h1 {
    padding: 10px;
    background-color: #191919;
    color: ghostwhite;
    border-radius: 10px;
    font-size: 2rem;
} 

.container button {
    padding: 10px 20px;
    background-color: transparent;
    color: #191919;
    border-radius: 10px;
    border: 2px solid black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s linear;
}

.container button:hover{
    color: ghostwhite;
    background-color: #191919;
    cursor: pointer;
}

.color {
    color: var(--clr-primary-5);
}

